header{

   background:linear-gradient(rgba(0, 0, 0, 0.738),rgba(0, 0, 0, 0.366)), url('../images/luan\ marques.jpg') no-repeat top; 
   background-size: cover;
   text-align: center;
  height: 60vh;
   padding: 1.25rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background-attachment: fixed;

   
}

header h1{

   color: #d2930b;

}

.botao{

color: #ffffff;
background: #705319;
padding: 0.6rem 1.4rem;
font-size: .9rem;
border-radius: 5px;
transform: skew(-12deg);


}

.botao_destaque{
   background: #ffffff;
   color: #ca7b2d;
   padding: 0.6rem 1.4rem;
font-size: .9rem;
border-radius: 5px;
transform: skew(-12deg);
}


