*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #323232;
  border: #323232;
}
html{
    background: url(https://pbs.twimg.com/media/FZrccWtWYAMmbBj.jpg:large) no-repeat;

    background-size: cover;
    color: #fff;
    height: 100vh;
    display: grid;
    place-items: center;

}

input:focus{

    outline: none;
   border-color: #08558b;
}

a{

  font-size: .8rem; 

}

a:hover{

    color: #08558b;
}

/* container login */
#login-container{

    background-color: #fff;
    width: 400px;
    padding: 20px; 
    border-radius: 10px; 
    text-align: center;
}

form{

    margin: 2.5rem 0;
}

label{
     display: block;
    font-weight: bold;
   font-size: .8rem;
   text-align: left;


}

input{
  margin-bottom: 1.25rem;  
width: 98%;
border-bottom: 2px solid #323232;
padding: 10px;
font-size: 1rem;
transition:background-color .6s;

}

#forgotpass{

    display: block;
    text-align: right;
}

input[value="login"]{

    background-color: #08548b57;
    color: #fff;
    border: none;
    margin-top: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1.25rem;
    cursor: pointer;
}

input[value="login"]:hover{

    background-color: #08558b;
}

#social-container, #social-container p{

    margin-bottom: 1.25rem;
}

#social-container i{

    
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 60%;
    margin: 0 .3rem;
    color: #fff;
}

.fa-facebook-f{

  background-color:#1e7cf2 ;

}

.fa-linkedin{

    background-color: #306cb3;
}

.fa-whatsapp{

    background:linear-gradient(to bottom,#08fe6c, #08d527)

}

#register-container p{

    
    margin-bottom:.6rem ;
}














































